/* navbar starts */
body {
  font-family: "Lato", sans-serif;
}

.container {
  padding-left: 10px;
  padding-right: 10px;
}

.navbar {
  width: 100%;
  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;
}
.navbar-brand {
  height: 50%;
}

.navbar-nav {
  margin-left: auto;
  padding-left: 0;
}
.nav-item {
  margin-right: 20px;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 400;
}
/* navbar ends */

/* hero starts */
.hero {
  height: 100vh;
  width: 100vw;
  background-color: bisque;
}

.hero-text {
  padding-top: 180px;
  padding-bottom: auto;
}
.hero-main-header {
  font-size: 40px;
  margin-bottom: 20px;
}

.email-us-button {
  width: 150px;
  height: 40px;
  border-radius: 30px;
  margin-top: 20px;
}
/* hero ends */

/* body start */
.carousel-item {
  /* max-width: 100%; */
  /* min-width: 100%; */
  position: center center;
}

.photo-services-container {
  align-content: center;
  /* max-width: 900px; */
}
.photo-services-icon {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 80px;
  max-width: 100%;
  max-height: 100%;
}
.photo-service-header {
  font-size: 24px;
  text-align: center;
  margin-top: 10px;
}
.photo-service-copy {
  text-align: center;
  max-width: 1200px;
  padding-left: 50px;
  padding-right: 50px;
  line-height: 1.2;
  margin-top: 40px;
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
}

.pricing-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
}

.photo-price-1 {
  /* height: 180px; */
  width: 300px;
}
.photo-header {
  font-weight: 800;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 20px;
  line-height: 1.6;

}
.price {
  color: #d5621a;
}
ul li {
  margin: 5px;
  font-weight: 300;
}

.note {
  text-align: center;
  /* margin-top: 30px; */
  margin-bottom: 50px;
}
/* body end */

/* footer start */
.footer {
  height: 700px;
  background-color: black;
}
.footer-text {
  padding-top: 80px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: auto;
  align-content: center;
}

.footer-main-header {
  font-size: 30px;
  margin-bottom: 20px;
  color: white;
  text-align: center;
  line-height: 1.2;
}
.footer-sub-copy {
  color: white;
  font-size: 16px;
  font-weight: 300;
  text-align: center;
  line-height: 1.6;
}
.footer-button {
    display: block;
    width: 200px;
    height: 40px;
    border-radius: 30px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 80px;
    background-color: #d5621a;
    border: none;
    color: white;
  }
  button a {
    color: white;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
  }
  button :hover {
    color: white;
    text-decoration: none;
  }


.hr-line {
  border-top: 1px solid white;
  max-width: 90%;
}

.footer-info {
  align-content: center;
}
.footer-brand {
  display: block;
  margin-left: auto;
  margin-right: auto;
  line-height: 1.2;
  margin-top: 80px;
  margin-bottom: 20px;
}
.footer-tabs {
  line-height: 1.2;
  font-size: 12px;
  font-weight: 400;
  color: white;
  word-spacing: 20px;
  margin-bottom: 30px;
  text-align: center;
}
.footer-copy-right {
  line-height: 1.2;
  font-size: 12px;
  font-weight: 300;
  color: white;
  text-align: center;
}
.footer-devider {
  color: #be4952;
}

.footer-social {
  display: inline;
  margin-left: auto;
  margin-right: auto;
  height: 40px;
  margin-left: auto;
  margin-right: auto;
}
.ig {
  margin-right: 16px;
}
li {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
/* footer end */


@media screen and (min-device-width: 375px) and (max-device-width: 768px) {
  .carousel-item {
    height: 300px;
  }
  .carousel {
    height: 300px;
  }
  .carousel-inner {
    height: 300px;
  }
  .d-block {
    height: 300px;
    width: auto;
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
  }
 .carousel-indicators li {
     background-color: #d5621a;
 }
  .photo-image1 {
      height: 86%;
  }
  .photo-image2 {
      height: 86%;
  }
  .photo-image3 {
      height: 86%;
  }

  .photo-services-icon {
    margin-top: 40px;
    /* width: 20%; */
    height: 70px;
  }
  .photo-service-header {
    font-size: 20px;
    margin-top: 10px;
  }
  .photo-service-copy {
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .footer-main-header {
      font-size: 28px;
    }
    .footer-sub-copy {
      font-size: 18px;
    }
    .footer-copy-right {
     margin-bottom: 20px;
    }
    .footer {
      height: 750px;
      background-color: black;
      bottom: 0;
      padding-bottom: 50px;
    }

}
